nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5em 1.5em;
  gap: 1rem;
  flex-wrap: wrap;
}

.nav-items-icon > img {
  width: 150px;
}

#location {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
}
.nav-items-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  flex-wrap: wrap;
}
.location-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;

  cursor: pointer;
}

.nav-items-list > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  list-style: none;
  flex-wrap: wrap;
}

.nav-items-list > ul > li > .btn {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  cursor: pointer;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}
.nav-list-text {
  color: rgba(53, 50, 50, 0.918);
}
.nav-icons {
  color: rgba(53, 50, 50, 0.918);
}

.nav-items-list > ul > li > .btn:hover .nav-icons {
  color: rgb(226, 111, 45);
}
.nav-items-list > ul > li > .btn:hover .nav-list-text {
  color: rgb(226, 111, 45);
}

.searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

.searchBox {
  padding: 0.6em 1em;
  font-size: 0.9rem;
  border-radius: 10px;
  border: none;
  border: 1px solid rgb(61, 61, 59);
}

.searchBox:focus {
  border: 1px solid rgb(61, 61, 59);
}
@media screen and (max-width: 800px) {
  .nav-items-list {
    justify-content: center;
    flex-direction: column;
    gap: 2em;
  }
  .nav-items-list > ul {
    justify-content: center;
    flex-direction: column;
  }
}
