.cards-container {
  width: 30%;
  margin: 0 auto;
  padding-top: 20px;
}

.card {
  background-color: #f5f5f5;
  box-shadow: 10px 10px 40px 2px rgba(128, 128, 128, 0.4);
  display: inline-block;
  width: 375px;
  border-radius: 10px;
}
.card .card-media {
  background-position: center;
  background-size: cover;
  height: 240px;
  width: 100%;
  object-fit: fit;
  border-radius: 10px 10px 0 0;
  position: relative;
}
.card .card-media .discount {
  font-size: 12px;
  background-color: #3582ec;
  position: absolute;
  bottom: 21%;
  padding: 2px 5px 2px 20px;
  border-radius: 0 4px 4px 0;
  max-width: 60px;
  left: 0;
  color: #fff;
  font-weight: 700;
}
.card .card-media .discount p {
  font-weight: 400;
}
.card .card-media .pro-discount {
  font-size: 12px;
  background-color: #e83940;
  position: absolute;
  bottom: 6%;
  padding: 3px 5px;
  border-radius: 0 4px 4px 0;
  max-width: 110px;
  left: 0;
  color: #fff;
}
.card .card-media .delivery-time {
  position: absolute;
  background-color: #f5f5f5;
  max-width: 60px;
  padding: 3px 6px;
  font-size: 12px;
  right: 3%;
  bottom: 6%;
  border-radius: 4px;
}
.card .card-description {
  padding: 10px;
}
.card .card-description .about-place {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card .card-description .about-place .place-name {
  font-weight: 600;
  padding-bottom: 10px;
  color: rgba(0, 0, 0, 0.87);
}
.card .card-description .about-place .place-speciality,
.card .card-description .about-place .per-person {
  font-size: 14px;
  color: rgba(128, 128, 128, 0.97);
}
.card .card-description .about-place .rating {
  font-size: 14px;
  border-radius: 4px;
  background-color: #0a6d0acc;
  color: #fff;
  font-weight: 700;
  text-align: center;
  padding: 2px 0;
  margin-bottom: 6px;
  margin-left: 30px;
}
